<?xml version="1.0" encoding="utf-8" ?>

<!--
      Example of how the real App.Config looks for this project.
      The real config is hidden for security purposes.
-->

<configuration>
  <connectionStrings>
    <add connectionString="Server=localhost;Database=job_seeker;userid=user1;password=abc123" name="postgresDevelopment"/>
    <add connectionString="Server=localhost;Database=job_seeker;userid=user1;password=@bC|2E" name="postgresProduction"/>
  </connectionStrings>
</configuration>